body {
    background-color: black;
    overflow: hidden;
}

table {
    font-size: 30px;
    font-family: "Wide Latin";
    text-align: center;
}

th {
    background-color: darkgreen;
}

input {
    transform: scaleX(2);
}
